<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeathsWowLauncher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KeathsWowLauncher.My.MySettings>
            <setting name="wowdir" serializeAs="String">
                <value />
            </setting>
            <setting name="realmslistselected" serializeAs="String">
                <value />
            </setting>
            <setting name="realmslist" serializeAs="String">
                <value />
            </setting>
            <setting name="cbConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbNosound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbWindowed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbMaxscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
        </KeathsWowLauncher.My.MySettings>
    </userSettings>
</configuration>